.filelist {
    grid-column: 1;
    grid-row: 3 / 6;
    padding: 1em;
}

.fileLabel {
    padding-top: 8px;
    margin-left: 1em;
    margin-right: 1em;
}

.fileSize {
    margin-left: 0.5em;
    opacity: 0.7;
    font-size: 0.9em;
}
